.top-wrapper
  .header
    .header_logo
      %h2 Muscle training at home
      %p 〜自宅で筋トレをしよう〜
    .header_list
      %ul.header_list_menu
        %li login
        %li sign up
        %li mt diary post
        %li self weight training
        %li protein comparison
        %li muscle part name
  .image
  .sentence
    .sentence_site-info
      %h2 〜サイト案内〜
      %p.sentence_site-info_p 
        当サイトは自宅で筋トレをする方に向けて作られた、筋トレのモチベーションを維持するためのコミュニティサイトです。
        %br
        %br
        これから筋トレを始めてみたいという方や、筋トレを始めたけど一人じゃなかなか続かないという方は、当サイトの筋トレ日記を活用し、日々の目標やこなしたメニューをアウトプットし、継続していきましょう。
      .sentence_site-info_link
        = link_to "今すぐ無料で登録する", root_path, class: "btn"
  .footer
    ©2020 Muscle training at home