.top-wrapper
  = render partial: 'layouts/header'
  .wrapper
    .container
      #timer 00:00.000
      .controls
        #min Min
        #sec Sec
        #reset Reset
        #start Start
    .menu
      %p Training menu(1set)
      %ul
        %li ・腕立て伏せ30秒
        %li ・腹筋1分
        %li ・スクワッド1分
        %li ・懸垂30秒
  .footer
    ©2020 Muscle training at home