.header{
  position: fixed; 
  z-index:999;
  background-color:rgb(24, 133, 223);
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 90px;   
  color:white;
  display:flex;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  h1{
    line-height:110px;
    padding-left:50px;
  }
  .top-link{
    text-decoration: none;
    color:white;
    font-size:30px;
  }
    &_list{
      display:flex;
      line-height:130px;
      margin-right:80px;
      li{
        padding-right:20px;
      }
        a{
          text-decoration: none;
          color:white;
        }
    }
 }