.header{
  position: fixed; 
  background-color:black;
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 100px;   
  color:white;
  display:flex;
  justify-content: space-between;
  h1{
    line-height:110px;
    padding-left:50px;
    font-family: 'Kaushan Script', cursive;
  }
  .top-link{
    text-decoration: none;
    color:white;
    font-size:30px;
  }
    &_list{
      display:flex;
      line-height:150px;
      margin-right:80px;
      li{
        padding-right:20px;
      }
        a{
          text-decoration: none;
          color:white;
        }
    }
 }