
  
  .top-wrapper{
    background:black;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
      &_btn{
        margin:0 auto;
        text-align: center;
        margin-top:70px;
      .btn {
        margin:0 auto;
        display: inline-block;
        padding: 0.9em 3em;
        text-decoration: none;
        color: #FFF;
        background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
        transition: .4s;
        font-size: 18px;
      }
      .btn:hover{
        background: #668ad8;
      }
     }
    }
   
  .footer{
    background-color:black;
    color:white;
    text-align: center;
    line-height:100px;
    font-family: cursive;
    position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;                /* 横幅100%　*/
    height: 100px;
  }
