.header
  %h1
    = link_to "Muscle training at home",root_path, class: "top-link"
  %ul.header_list
    - if user_signed_in?
      %li 
        = link_to "logut", destroy_user_session_path, class: "logout", method: :delete
    - else
      %li 
        = link_to "login", new_user_session_path, class: ""
      %li 
        = link_to "sign up", new_user_registration_path, class: ""
    
          